{% block noval_payment_content_card_channel_config_credentials %}
<sw-card-view style="position: relative;">
    <sw-card class="sw-card--grid"
             :title="$tc('noval-payment.settingForm.credentials.cardTitle')">

        {% block noval_payment_content_card_channel_config_credentials_card_container %}
            <sw-container>

                {% block noval_payment_content_card_channel_config_credentials_card_container_settings %}
                    <div v-if="actualConfigData" class="noval_payment-settings-credentials">

                        {% block noval_payment_content_card_channel_config_credentials_card_container_settings_client_id %}
                            <sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.clientId']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.clientId']"
                                                :customInheritationCheckFunction="checkTextFieldInheritance">
                                <template #content="props">
                                    <sw-text-field name="NovalnetPayment.settings.clientId"
                                                   :mapInheritance="props"
                                                   :label="$tc('noval-payment.settingForm.credentials.activationKey.label')"
                                                   :helpText="$tc('noval-payment.settingForm.credentials.activationKey.tooltipText')"
                                                   :disabled="props.isInherited"
                                                   :value="props.currentValue"
                                                   @change="props.updateCurrentValue">
                                    </sw-text-field>
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}

                        {% block noval_payment_content_card_channel_config_credentials_card_container_settings_client_secret %}
                            <sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.vendorId']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.vendorId']"
                                                :customInheritationCheckFunction="checkTextFieldInheritance">
                                <template #content="props">
                                    <sw-text-field name="NovalnetPayment.settings.vendorId"
												   :label="$tc('noval-payment.settingForm.credentials.vendorId')"
                                                   :mapInheritance="props"
                                                   :disabled="shouldDisable"
                                                   :value="props.currentValue">
                                    </sw-text-field>
                                </template>
                            </sw-inherit-wrapper>
                            <sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.authCode']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.authCode']"
                                                :customInheritationCheckFunction="checkTextFieldInheritance">
                                <template #content="props">
                                    <sw-text-field name="NovalnetPayment.settings.authCode"
												   :label="$tc('noval-payment.settingForm.credentials.authCode')"
                                                   :mapInheritance="props"
                                                   :disabled="shouldDisable"
                                                   :value="props.currentValue">
                                    </sw-text-field>
                                </template>
                            </sw-inherit-wrapper>
                            <sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.productId']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.productId']"
                                                :customInheritationCheckFunction="checkTextFieldInheritance">
                                <template #content="props">
                                    <sw-text-field name="NovalnetPayment.settings.productId"
												   :label="$tc('noval-payment.settingForm.credentials.productId')"	
                                                   :mapInheritance="props"
                                                   :disabled="shouldDisable"
                                                   :value="props.currentValue">
                                    </sw-text-field>
                                </template>
                            </sw-inherit-wrapper>
                            <sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.tariff']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.tariff']"
                                                >
                                <template #content="props">
                                    <sw-single-select name="NovalnetPayment.settings.tariff"
													  :options="tariffOptions"
													  :label="$tc('noval-payment.settingForm.credentials.tariff.label')"
                                                      :helpText="$tc('noval-payment.settingForm.credentials.tariff.tooltipText')"
                                                      :disabled="props.isInherited"
                                                      :value="props.currentValue"
                                                      @change="props.updateCurrentValue"
                                                      >
                                    </sw-single-select>
                                </template>
                            </sw-inherit-wrapper>
                            <sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.accessKey']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.accessKey']"
                                                :customInheritationCheckFunction="checkTextFieldInheritance">
                                <template #content="props">
                                    <sw-text-field name="NovalnetPayment.settings.accessKey"
												   :label="$tc('noval-payment.settingForm.credentials.accessKey')"	
                                                   :mapInheritance="props"
                                                   :disabled="shouldDisable"
                                                   :value="props.currentValue">
                                    </sw-text-field>
                                </template>
                            </sw-inherit-wrapper>

                            <sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.gatewayTimeout']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.gatewayTimeout']"
                                                >
                                <template #content="props">
                                    <sw-number-field name="NovalnetPayment.settings.gatewayTimeout"
													 numberType="float"
                                                     :mapInheritance="props"
                                                     :label="$tc('noval-payment.settingForm.credentials.gatewayTimeout.label')"
                                                     :helpText="$tc('noval-payment.settingForm.credentials.gatewayTimeout.tooltipText')"  
                                                     :value="(props.currentValue == 0 || props.currentValue == null) ? 240 : props.currentValue"
                                                     @change="props.updateCurrentValue">
                                    </sw-number-field>
                                </template>
                            </sw-inherit-wrapper>
                            <sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.paymentLogo']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.paymentLogo']"
                                                :customInheritationCheckFunction="checkBoolFieldInheritance">
                                <template #content="props">
                                    <sw-switch-field name="NovalnetPayment.settings.paymentLogo"
													 bordered
                                                   :mapInheritance="props"
                                                   :label="$tc('noval-payment.settingForm.credentials.paymentLogo.label')"
                                                   :helpText="$tc('noval-payment.settingForm.credentials.paymentLogo.tooltipText')"
                                                   :disabled="props.isInherited"
                                                   :value="props.currentValue"
                                                   @change="props.updateCurrentValue">
                                    </sw-switch-field>
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}
                    </div>
                {% endblock %}
            </sw-container>
        {% endblock %}
    </sw-card>
{% endblock %}
{% block noval_payment_content_card_channel_config_merchant_credentials %}
    <sw-card class="sw-card--grid"
             :title="$tc('noval-payment.settingForm.merchantSettings.cardTitle')">
        {% block noval_payment_content_card_channel_config_merchant_credentials_card_container %}
			<sw-container>
				{% block noval_payment_content_card_channel_config_merchant_credentials_card_container_settings %}
					<div v-if="actualConfigData" class="noval_payment-settings-merchant-credentials">
						{% block noval_payment_content_card_channel_config_merchant_credentials_card_container_settings_ip %}
                            <sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.deactivateIp']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.deactivateIp']"
                                                >
                                <template #content="props">
                                    <sw-switch-field name="NovalnetPayment.settings.deactivateIp"
													 bordered
													 :mapInheritance="props"
													 :label="$tc('noval-payment.settingForm.merchantSettings.deactivateIp.label')"
													 :helpText="$tc('noval-payment.settingForm.merchantSettings.deactivateIp.tooltipText')"
													 :value="props.currentValue"
													 @change="props.updateCurrentValue">
                                    </sw-switch-field>
                                </template>
                            </sw-inherit-wrapper>
                            <sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.callbackMail']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.callbackMail']"
                                                >
                                <template #content="props">
									<sw-switch-field name="NovalnetPayment.settings.callbackMail"
													 bordered
													 :mapInheritance="props"
													 :label="$tc('noval-payment.settingForm.merchantSettings.callbackMail')"
													 :value="props.currentValue"
													 @change="props.updateCurrentValue">
                                    </sw-switch-field>
                                </template>
                            </sw-inherit-wrapper>
                            <sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.mailTo']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.mailTo']"
                                                >
                                <template #content="props">
                                    <sw-text-field name="NovalnetPayment.settings.mailTo"
                                                   :mapInheritance="props"
                                                   :label="$tc('noval-payment.settingForm.merchantSettings.mailTo.label')"
                                                   :helpText="$tc('noval-payment.settingForm.merchantSettings.mailTo.tooltipText')"
                                                   :value="props.currentValue"
                                                   @change="props.updateCurrentValue">
                                    </sw-text-field>
                                </template>
                            </sw-inherit-wrapper>
                            <sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.mailBcc']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.mailBcc']"
                                                >
                                <template #content="props">
                                    <sw-text-field name="NovalnetPayment.settings.mailBcc"
                                                   :mapInheritance="props"
                                                   :label="$tc('noval-payment.settingForm.merchantSettings.mailBcc.label')"
                                                   :helpText="$tc('noval-payment.settingForm.merchantSettings.mailBcc.tooltipText')"
                                                   :value="props.currentValue"
                                                   @change="props.updateCurrentValue">
                                    </sw-text-field>
                                </template>
                            </sw-inherit-wrapper>
                            <sw-inherit-wrapper v-model="actualConfigData['NovalnetPayment.settings.callbackUrl']"
                                                :inheritedValue="selectedSalesChannelId == null ? null : allConfigs['null']['NovalnetPayment.settings.callbackUrl']"
                                                :customInheritationCheckFunction="checkTextFieldInheritance">
                                <template #content="props">
                                    <sw-text-field name="NovalnetPayment.settings.callbackUrl"
                                                   :mapInheritance="props"
                                                   :label="$tc('noval-payment.settingForm.merchantSettings.callbackUrl.label')"
                                                   :helpText="$tc('noval-payment.settingForm.merchantSettings.callbackUrl.tooltipText')"
                                                   :value="currentUrl"
                                                   @change="props.updateCurrentValue">
                                    </sw-text-field>
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}
					</div>
				{% endblock %}
            </sw-container>
        {% endblock %} 
    </sw-card>
</sw-card-view>
{% endblock %}
