@import "~scss/variables";

.noval-field--osm-description {
    font-size: $font-size-small;
    margin: -10px 0 20px 0;
}

.noval_payment-settings-credentials, .noval_payment-settings-merchant-credentials{
    margin: 30px;
}
