#sepa_mandate_toggle{
		cursor:pointer;
		color: #5f7285;
}
	#sepa_mandate_toggle:hover{
		text-decoration:underline;
}
#sepa_mandate{
		cursor:pointer;
		color: #5f7285;
}
	#sepa_mandate:hover{
		text-decoration:underline;
}

@media only screen and (max-width: 600px) {
  #nnIframe {
    width: 100%;
  }
}
